<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>内涵段子demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5F19E7A1DB9E23700439C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5F19E931DB9E23700439C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5F19E9E1DB9E23700439C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
